.weatherapp {
    border: 10px solid;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 30px;
    border-color: rgb(213, 236, 41);
    background-color: rgb(177, 141, 229);
  }
  
  .search-form .form-control .submit-button {
    padding: 10px;
    margin: 10px;
    height: 20px;
  }
  
  .form-control {
    font-family: "Roboto", sans-serif;
  }
  
  .submit-button {
    font-family: "Roboto", sans-serif;
  }
  
  .todays-weather {
    margin: 15px auto;
  }
  
  img {
    padding: 7px;
  }
  
  p {
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
  }
  h1 {
    font-size: 24px;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
  }
  h2 {
    font-size: 20px;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
  }
  
  h3 {
    padding-left: 10px;
  }
  
  #weather-description:first-letter {
    text-transform: capitalize;
  }
  
  .row {
    font-family: "Roboto", sans-serif;
  }
  
  .current-city,
  #celsius,
  #farenheit,
  #weather-description {
    display: inline;
  }
  
  #humidity,
  #wind-speed{
    display: inline-block;
  }
  .all-weather {
    font-size: 15px;
  }