.weatherapp {
    border: 15px double;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 30px;
    border-color: rgb(213, 236, 41);
    background-color: rgb(177, 141, 229);
  }
  
  .search-form .form-control .submit-button {
    padding: 115px;
    margin: 10px;
    height: 35px;
    background-color: antiquewhite;

  }
  
  .form-control {
    font-family: fantasy;
    background-color: rgb(229, 193, 220);
  }
  
  .submit-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 45px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0%;
    background-color: rgb(208, 88, 224);
  }
  
  .todays-weather {
    margin: 15px auto;
  }
  
  img {
    padding: 7px;
  }
  
  p {
    padding-top: 10px;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
  }
  h1 {
    font-size: 40px;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h2 {
    font-size: 20px;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h3 {
    padding-left: 10px;
  }
  
  #weather-description:first-letter {
    text-transform: capitalize;
  }
  
  .row {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
  }
  
  .current-city,
  #celsius,
  #farenheit,
  #weather-description,
  #humidity,
  #wind-speed {
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;

  }
  

  

  .all-weather {
    font-size: 15px;
    margin-left: 50px;
  }

  .sm{
    font-size: 15px;
    font-style: italic;
  }